* {
    font-family: 'Roboto';
}

.hero-container {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.hero-right-container {
    display: flex;
    font-size: 14px;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.hero-right-container div {
    margin-left: 2%;
}