* {
    font-family: 'Roboto';
}

.hero-container, .second-hero-container {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}

.hero-right-container {
    display: flex;
    font-size: 14px;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.hero-right-container div {
    margin-left: 2%;
}

.second-hero-container {
    padding-bottom: 10%;
    gap: 46px;
    padding-top: 10%;
}

.hero-main-text {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.hero-main-text h1, .hero-main-text p {
    margin: 0;
    padding: 0;
}

.hero-main-text > h1 {
    font-weight: 900;
}

.hero-main-text > p {
    font-size: 18px;
    color: #e5e7eb;
}

.button {
    border: #3882f6;
    background-color: #3882f6;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    font-size: small;
    margin-top: 10px;
}

.image-placeholder {
    background-color: #8a8a8a9a;
    display: flex;
    flex: 1.2;
    justify-content: center;
    align-items: center;
    font-size: small;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.info-container h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.boxes-container {
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    gap: 50px;
}

.boxes-container p {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    font-size: 18px;
    text-align: center;
}

#box {
    border: #3882f6 3px solid;
    height: 125px;
    border-radius: 10px;
}

.quote-section {
    display: flex;
    background-color: #e5e7eb;
    margin-top: 6%;
    flex-direction: column;
    padding: 10%;
}

.quote-section p {
    margin: 0;
    padding: 0;
}

.quote {
    font-size: 24px;
    color: #1f2937;
    font-style: italic;
}

.author {
    text-align: end;
}

.call-to-action-section {
    display: flex;
    background-color: #3882f6;
    justify-content: space-around;
    margin: 5% 10% 5% 10%;
    padding: 3%;
    border-radius: 6px;
    color: #e5e7eb;
}

.call-to-action-section p, .call-to-action-section h3 {
    margin: 0;
    padding: 0;
}

.call-to-action-section > .button {
    color: #f9faf8;
    border: white 1px solid;
}

.footer {
    background-color: #1f2937;
    text-align: center;
    color: #e5e7eb;
    padding: 3%;
    margin-top: auto;
}